*{
    border: solid red 1px;
}
body{
    margin: 0 auto;
}
.content{
    display: flex;
    
}

.textSection{
    width: 50vw;
    padding: 25px
}

.photoSection{
    width: 50vw;
    padding: 25px
}