*{
    /* border: solid red 1px; */
}
body{
    margin: 0 auto;
}
p{
    text-align: left;
}
.content{
    display: flex;
    align-items: center;
    
}

.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 100vh;
    padding: 25px;
    margin: 10px;
    
}

.photoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 100vh;
    padding: 25px;
    margin: 10px;
}