html{
  background-image: url("https://cdn.pixabay.com/photo/2016/11/23/15/23/cosmos-1853491_1280.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body{
  width: 75%;
  margin: auto;
  color: wheat;
  font-family: 'Orbitron', sans-serif;
}






